<!DOCTYPE html>
<!--blank.html-->
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="{{ site.encoding }}">
    {% if page.author %}<meta name="author" content="{{ page.author }}">{% endif %}
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <title>{% if page.title %} {{ page.title }} › {% endif %}{{ site.title }}</title>
    <link rel="canonical" href="{{ page.url | prepend: site.url }}">
    <link rel="stylesheet" type="text/css" href="{{ "/basic.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ "/highlight.css" | prepend: site.baseurl }}">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} &raquo; Feed" href="{{ "/feed.xml" | prepend: site.baseurl }}">
    {% if site.disqus_username  and page.id %}
    <script type="text/javascript">
      var disqus_shortname = '{{ site.disqus_username }}';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    {% endif %}
    {% if site.isso_domain and page.id %}<script data-isso="http://{{ site.isso_domain }}" src="//{{ site.isso_domain }}/js/embed.min.js"></script>{% endif %}
  </head>

  <body>
    <header>
      <h2><a href="{{ site.baseurl }}"><center>{{ site.title }}</center></a></h2>
      <p><h4><center>勤學如春起之苗，不見其增，日有所長。</center></h4></p>
      <embed src="http://www.xiami.com/widget/0_2079912/singlePlayer.swf" type="application/x-shockwave-flash" width="257" height="33" wmode="transparent"></embed>
      <hr color="purple"> 
      <nav>
        <ul>
          <li><a href="http://www.cnblogs.com/jadeboy/">Archiv</a></li>
          {% for node in site.pages %}{% if node.title %}
            <li><a href="{{ node.url | prepend: site.baseurl }}"{% if page.url == node.url %} id="selected"{% endif %}>
          {{ node.title }}</a></li>{% endif %}{% endfor %}

      
          <!-- <Add Count Of This Page Skim Through-2014-12-29> -->
          <li><div align="center"><a href="http://www.amazingcounters.com">Page Views:<img border="0" src="http://cc.amazingcounters.com/counter.php?i=3182569&c=9548020" alt="AmazingCounters.com"></a></div></li>
        </ul>
      </nav>
    </header>
{{ content }}
    <footer>
      <span>Copyright</span><span><a href="{{ site.url }}">{% if page.author %}{{ page.author }}{% else %}{{site.title}}{% endif %}</a></span><span>{{ site.time | date: "%Y" }}</span>
    </footer>
  </body>
</html>